<header>
    <nav class="topbar">
        <nav class="left">
            <h1><a routerLink="/">{{ title() }}</a></h1>
            <ul class="topmenu">
                <li><a routerLink="/navigator" [className]="getTopMenuSelectedClassName('/navigator')">File
                        navigator</a></li>
            </ul>
        </nav>

        <nav class="right">
            <ul class="topmenu">
                <li>
                    @if (selectedRealm() == "") {
                    <p>No selected realm</p>
                    }
                    @else {
                    <a routerLink="/realm">{{ selectedRealm() }} realm</a>
                    }
                </li>
            </ul>
        </nav>
    </nav>
</header>

<main>
    @if (selectedRealm() == "") {
    <app-realm-selector [(selectedRealm)]="selectedRealm"></app-realm-selector>
    }
    @else {
    <router-outlet />
    }
</main>
