@font-face {
  font-family: 'Red Hat Text';
  font-style: italic;
  font-display: swap;
  src: url(RedHatText-Italic-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-display: swap;
  src: url(RedHatText-VariableFont_wght.ttf) format('truetype');
}
